<style>
	@media (min-width: 768px) {
		#tab-general-dinh-kem .container {
			width: 100%; } }
	@media (min-width: 992px) {
		#tab-general-dinh-kem .container {
			width: 100%; } }
	@media (min-width: 1200px) {
		#tab-general-dinh-kem .container {
			width: 100%; } }

	@media (min-width: 320px) {
		#attribute_giadinh tbody input[type=text] {
			width: auto; } }
	@media (min-width: 1800px) {
		#attribute_giadinh tbody input[type=text] {
			width: 100%; } }

	@media (min-width: 320px) {
		#attribute_nhansu tbody input {
			width: auto; } }
	@media (min-width: 1800px) {
		#attribute_nhansu tbody input {
			width: 100%; } }

	@media (min-width: 320px) {
		#input-ngaysinh {
			width: auto; } }
	@media (min-width: 1800px) {
		#input-ngaysinh {
			width: 100%; } }


</style>
{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-customer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ huy }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible">
				<i class="fa fa-exclamation-circle"></i>
				{{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success alert-dismissible">
				<i class="fa fa-check-circle"></i>
				{{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-pencil"></i>
					Thêm mới nhân sự</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-customer" class="form-horizontal">
						<ul class="nav nav-tabs">
							<li {% if tab_states[0] %} class="active" {% endif %}>
                            	<a href="#tab-general" data-toggle="tab">Thông tin chung</a>
							</li>
							<li {% if tab_states[1] %} class="active" {% endif %}>
								<a href="#tab-general-cong-viec" data-toggle="tab">Công việc</a>
							</li>
							<li {% if tab_states[2] %} class="active" {% endif %}>
								<a href="#tab-general-bao-hiem" data-toggle="tab">Bảo hiểm</a>
							</li>
							<li {% if tab_states[3] %} class="active" {% endif %}>
								<a href="#tab-general-tiep-nhan" data-toggle="tab">Tiếp nhận</a>
							</li>
							<li {% if tab_states[4] %} class="active" {% endif %}>
								<a href="#tab-general-hopdong" data-toggle="tab">Hợp đồng</a>
							</li>
                            {% if nhan_su_id != '' %}
							<li {% if tab_states[5] %} class="active" {% endif %}>
                            	<a href="#tab-general-dinh-kem" data-toggle="tab">Đính kèm</a>
							</li>
							<li {% if tab_states[6] %} class="active" {% endif %}>
								<a href="#tab-general-loaidiem" data-toggle="tab">Điểm tích lũy</a>
							</li>
							{% endif %}

						</ul>

						<div class="tab-content">
							<div class="tab-pane {% if tab_states[0] %} active {% endif %}" id="tab-general">
								{% if tab_general == 'has_permission' %}
									<div class="row">
										<div class="col-sm-12">
											<div class="tab-content">
												<div class="tab-pane active" id="tab-customer">
													{# thông tin cá nhan #}
													<fieldset>
														<legend>Thông tin cá nhân</legend>

													</fieldset>
													{# thông tin liên hệ  #}

													{# thông tin gia đình #}
													<fieldset style="overflow-x:auto;">
														<legend>Thông tin gia đình</legend>
														<div class="table-responsive">
															<table id="attribute_giadinh" class="table table-striped table-bordered table-hover" >
																<thead>
																<tr style="font-size: 13px;" >
																	<td class="text-center">Mối quan hệ</td>
																	<th class="text-center">Họ và tên</th>
																	<th class="text-center">Năm sinh</th>
																	<th class="text-center">Nghề nghiệp</th>
																	<th class="text-center">Địa chỉ</th>
																	<th class="text-center">Điện thoại</th>
																	<th class="text-center">Người phụ thuộc</th>
																	<th></th>
																</tr>
																</thead>
																<tbody>

																{% for i in 0..(count-1) %}
																	{% if i >= 0 %}
																		<tr id="attribute-row-nhansu{{ i+100 }}">
																			<td class="text-left" >
																				<input type="text" name="gia_dinh[quan_he][]" class="form-control keyword" placeholder="Mối quan hệ" value="{{gia_dinh['quan_he'][i]}}" >

																			</td>
																			<td class="text-center">
																				<input type="text" name="gia_dinh[ten][]" class="form-control keyword" placeholder="Họ & tên" value="{{gia_dinh['ten'][i]}}" >
																			</td>
																			<td class="text-center ">
																				<div class="input-group date" >
																				<input type="text" name="gia_dinh[ngay_sinh][]" placeholder="Năm sinh" data-date-format="DD/MM/YYYY" id="input-ngaysinh" class="form-control" value="{{gia_dinh['ngay_sinh'][i]}}"  >
																				<span class="input-group-btn">
																					<button type="button" class="btn btn-default">
																						<i class="fa fa-calendar"></i>
																					</button>
																				</span>
																				</div>
																			</td>
																			<td class="text-center">
																				<input type="text" name="gia_dinh[nghe][]" class="form-control keyword" placeholder="Nghề nghiệp" value="{{gia_dinh['nghe'][i]}}" style="width: auto">

																			</td>
																			<td class="text-center">
																				<input type="text" name="gia_dinh[dia_chi][]" class="form-control keyword" placeholder="Địa chỉ" value="{{gia_dinh['dia_chi'][i]}}" style="width: auto">
																			</td>
																			<td class="text-center">
																				<input type="text" name="gia_dinh[dien_thoai][]" class="form-control keyword number_key" placeholder="Địện thoại" value="{{gia_dinh['dien_thoai'][i]}}" style="width: auto">
																			</td>
																			<td class="text-center">
																				{% if gia_dinh['check'][i] == 1 %}
																					<input type="checkbox" checked="checked" class="form-control checkboxgd" data-rowgd="{{i}}" onclick="checkboxgd(this)" value="1" name="gia_dinh[check][{{i}}]">
																				{% else %}
																					<input type="checkbox" class="form-control checkboxgd" value="0" data-rowgd="{{i}}" onclick="checkboxgd(this)" name="gia_dinh[check][{{i}}]">
																				{% endif %}
																			</td>
																			<td
																					class="text-right">
																				{% if i == 0 or i == -1 %}
																					<button type="button" data-toggle="modal" onclick="javascript:if(confirm('Bạn chắc chắn muốn xóa?')){$('#file-{{ i+100  }}').remove(); return false;}" data-target="#xoachuong" onclick="modalxoachuong();" data-toggle="tooltip" title="" class="btn btn-danger">
																						<i class="fa fa-minus-circle"></i>
																					</button>
																				{% else %}
																					<button type="button" data-toggle="modal" onclick="$('#attribute-row-nhansu{{ i+100 }}').remove();" data-target="#xoachuong" onclick="modalxoachuong();" data-toggle="tooltip" title="" class="btn btn-danger">
																						<i class="fa fa-minus-circle"></i>
																					</button>
																				{% endif %}
																			</td>
																		</tr>
																	{% endif %}
																{% endfor %}
																</tbody>

																<tfoot>
																<tr>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td></td>
																	<td colspan="2"></td>
																	<td class="text-right">
																		<button type="button" onclick="addnhansu();" data-toggle="tooltip" title="" class="btn btn-primary">
																			<i class="fa fa-plus-circle"></i>
																		</button>
																	</td>
																</tr>
																</tfoot>
															</table>
														</div>

													</fieldset>
													{# trình độ học vấn #}

												</div>

											</div>
										</div>
									</div>
								{% else %}
									<span>{{tab_general}}</span>
								{% endif %}
							</div>

						</div>
					
				</form>
			</div>
		</div>
	</div>
<style>
.classtable tr td:nth-child(2){
    width:30%;
}
</style>
<script src="../ckfinder/ckfinder.js"></script>
<script>

	$(".number_key").on("keypress keyup blur",function (event) {    
		$(this).val($(this).val().replace(/[^\d].+/, ""));
		if ((event.which < 48 || event.which > 57)) {
			event.preventDefault();
		}
	});

	function checkboxgd(ele) {
		if( ele.checked ){
			ele.value = "1";
		}else{
			ele.value = "0";
		}
	}


	$(document).on('click', '.delete', function(){
	var image_id = $(this).attr("id");
	var id = $('#id').val();
	var image_name = $(this).attr("name");
	
	if(confirm("Are you sure you want to remove it?"))
	{
	$.ajax({
		url:"index.php?route=customer/personnel/deleteImage",
		method:"POST",
		data:{image_id:image_id, id:id, image_name:image_name},
		success:function(data)
		{
		location.reload();
		}
	});
	}
	});


	//end upload

 	function keyup(){$(".keyword").on("keyup",function(){var a=$(this).val();if(-1<a.indexOf("\\")){var b=a.replace("\\","");$(this).val(b)}-1<a.indexOf("'")&&(b=a.replace("'",""),$(this).val(b));-1<a.indexOf("]")&&(b=a.replace("]",""),$(this).val(b));-1<a.indexOf("[")&&(b=a.replace("[",""),$(this).val(b));-1<a.indexOf("|")&&(b=a.replace("|",""),$(this).val(b));-1<a.indexOf(":")&&(b=a.replace(":",""),$(this).val(b));-1<a.indexOf(",")&&(b=a.replace(",",""),$(this).val(b));-1<a.indexOf(".")&&(b=a.replace(".",
	""),$(this).val(b));-1<a.indexOf("/")&&(b=a.replace("/",""),$(this).val(b));-1<a.indexOf("-")&&(b=a.replace("-",""),$(this).val(b))})};


	$(document).ready(function () {
		$('.js-example-data-ajax').select2({
			placeholder: "Chọn địa chỉ",
				
			ajax:
			{
				url: 'index.php?route=customer/personnel/ajaxDiachi',
				data: function (params) {
					if (params.term === undefined || params.term === null) { params.term = ''; }
					var arr_params = {
						"p_value": params.term // giá trị người dùng nhập
						, "p_selected": $(".js-example-data-ajax option:selected").val()    //giá trị được chọn
						, "p_first_label": '' //text hiện thị dòng đầu tiên
					};
					return arr_params;
				},
				type: "POST",
				dataType: "json",
				processResults: function (data) {
					//console.log(data);
					return {
						results: $.map(data.result, function (item) {
							return {
								text: item.path_with_type,
								id: item.id
							};
						})
					};
				},
				cache: true
			}
		});
	});  

  
</script>
<script >

	//select 2
	$(document).ready(function ()
	{
		$('.js-example-basic-single').select2();
	}); 


	//datepicker
	$('.date').datetimepicker(
	{
		language: '{{ datepicker }}',
		pickTime: false,
		autoUpdateInput: false,
		startDate: false,
	}); 
	keyup();
	var attribute_row = $(".checkboxgd:last").data('rowgd') + 1;

	function addnhansu()
	{
		html = '<tr id="attribute-row-nhansu' + attribute_row + '">';

		html += '<td class="text-center">';
		html += '<input type="text" name="gia_dinh[quan_he][]" placeholder="Mối quan hệ" value=""   class="form-control keyword"  autocomplete="off" />';
		html += '</td>';

		html += '<td class="text-center"><input type="text" class="form-control keyword" name="gia_dinh[ten][]" autocomplete="off" placeholder="Họ & tên" /></td>';

		html += '<td class="text-center input-group date">';
		html += '<input type="text" name="gia_dinh[ngay_sinh][]" placeholder="Năm sinh" data-date-format="DD/MM/YYYY" id="input-ngaysinh" class="form-control" value="" autocomplete="off" />';
		html += '<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>';
		html += '</td>';

		html += '<td class="text-center"><input type="text" class="form-control keyword" name="gia_dinh[nghe][]" autocomplete="off" placeholder=""/></td>';

		html += '<td class="text-center"><input type="text" class="form-control keyword" name="gia_dinh[dia_chi][]" autocomplete="off" /></td>';

		html += '<td class="text-center"><input type="text" class="form-control keyword number_key" name="gia_dinh[dien_thoai][]" autocomplete="off" /></td>';

		html += '<td class="text-center"><input type="checkbox" onclick="checkboxgd(this)" class="form-control keyword checkboxgd" name="gia_dinh[check][' + attribute_row + ']" autocomplete="off" value="0"/></td>';

		html += '<td class="text-right"><button type="button" onclick="$(\'#attribute-row-nhansu' + attribute_row + '\').remove();" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';

		html += '</tr>';

		$('#attribute_giadinh tbody').append(html);
		$('.date').datetimepicker(
		{
			language: '{{ datepicker }}',
			pickTime: false,
			autoUpdateInput: false,
			startDate: false,
		});


		attribute_row++;
        keyup();
		

	}


</script>

{{ footer }}
