
.table-striped {
    margin: 0 auto;
    margin-top: 50px
}

i{
    transition: transform .2s;
    opacity: 0.5;
}

i:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.checkbox{
    transition: transform .2s;
    opacity: 0.75;
    position: relative;
}

.checkbox:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.checkbox label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 28px;
}

.checkbox label:after {
    border: 4px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 9px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 16px;
}

.checkbox input[type="checkbox"] {
    visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.add-note{
    text-align: center;
    margin: 0 auto
}

h1{
    text-align: center;
    margin: 0 auto
}

.jumbotron{
    /*width:45%;*/
    border-radius: initial;
    text-align: center;
    margin: 0 auto
}

.content{
    width:100%;
    word-break: break-all;
}

/*.add-note{*/
/*    margin-top: 20px;*/
/*    margin-bottom: 10px*/
/*}*/

.add-note input{
    width: 100%;
}

#edit-note{
    width: 100%;
}
input{
    transition: width;
}

.done .content{
    text-decoration: line-through;
    opacity: 0.5;
}

input[type=text] {
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;


}

input[type=text]:focus {
    border: 1px solid #555;
}


h1{
    margin-top: -4%;
}




