<!DOCTYPE html>
<html>
    <head>
        <title>Danh sách ghi chú</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ http }}catalog/view/theme/default/stylesheet/note.css">
        <link rel="icon" href="https://image.flaticon.com/icons/svg/2069/2069727.svg" type="image/ico">
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    @media screen and (min-width: 801px) {
        .table-striped, .jumbotron {
            width: 900px;
            height: auto;
        }
    }
    @media screen and (max-width: 800px) {
        .table-striped, .jumbotron {
            width: 100%;
            height: auto;
        }
    }
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #8fc13e;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
        animation: fadein 0.5s, fadeout 0.5s 9.5s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    .checkbox label:after {
        border: 4px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 9px;
        left: 5px;
        opacity: 0;
        position: absolute;
        top: 6px;
        transform: rotate(-45deg);
        width: 16px;
    }
    input:focus {
        border:solid ;

    }
</style>
    <body>
        <div  class="jumbotron">
            <h1>Danh sách ghi chú</h1>
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm">
        </div>
        <table class="table table-striped" >
            <tbody id="list" style="font-size: 17px">
            <tr>
                <td colspan="2">
                    <div class="add-note">
                        <input id="myInputNote" type="text" placeholder="Viết ghi chú..." class="form-control" style="border: none; background: transparent;">
                    </div>
                </td>
                <td>
                    <i id="myBtn" class="fa fa-2x fa-plus-circle add-note" style="color: green; cursor: pointer;"  title="Thêm ghi chú"></i>
                </td>
            </tr>
            {% for  note in notes %}
                <tr {%  if note.status_raw == 1 %} class="done"  {% endif %} data-note-id="{{note.id}}" id = "tr{{note.id}}">
{#                <tr data-note-id="{{note.id}}" id = "tr{{note.id}}">#}
                    <td class="content">
{#                        <span id="note-content{{ note.id }}" class="note-content">{{note.content}}</span>#}
                        <input type="text" value="{{note.content}}" class="form-control input-edit" id="input-edit{{ note.id }}" style="border: none; background: transparent;" >
                    </td>
                    <td class="checkbox">
                        <input type="checkbox" id="checkbox{{note.id}}" data-id-status="{{note.id}}" class="checkbox" title="Hoàn thành?"  value="{{note.status_raw  }}"{% if note.status_raw == 1%} checked  {% endif %} >
                        <label for="checkbox{{note.id}}" ></label>
                    </td>
                    <td>
                        <i class="fa fa-2x fa-minus-circle btn-delete" style="color: red; cursor: pointer;" data-toggle="modal" data-target="#exampleModal"
                           data-note-id="{{ note.id }}"  data-note-content ="{{note.content}}" data-note-date-added ="{{note.date_added}}" data-note-date-modified ="{{note.date_modified}}"  title="Xóa ghi chú"></i>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <!-- Modal1 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                        <button type="button" id="button-agree" class="btn btn-primary" onclick="toastFunction()">Có</button>
{#                        <button type="button" id="button-agree" class="btn btn-primary">Có</button>#}
                        <input type="hidden" id="note-id-tmp">
                    </div>
                </div>
            </div>
        </div>

        <div id="snackbar">
            <i class="fa fa-backward" id="button-undo" aria-hidden="true" style="color: red ; cursor: pointer;"></i>
            <span style="color: white " >  Quay lại hành động trước</span>
            <input type="hidden" id="note-content-tmp">
            <input type="hidden" id="note-date-added-tmp">
            <input type="hidden" id="note-status-tmp">
        </div>
    </body>
</html>

<script>

    // Thay đổi trạng thái note0
    $('.checkbox').change(function () {
        var id = $(this).data('id-status');
        $.ajax({
            url : 'http://localhost/divine-project/index.php?route=api/note/complete',
            data : {
                id : id
            },
            method : "POST"
        }).done(function(result) {
            $('#checkbox'+id).val(result.status_raw);
            if ($('#checkbox'+id).val() == 1) {
                $('#tr'+id).addClass('done');
            }
            else {
                $('#tr'+id).removeClass('done');
            }
        });
    });

    // Dùng phím enter để thêm note
    $("#myInputNote").keydown(function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $("#myBtn").click();
        }
    });


    // Xóa note
    // Get Id của element cần xóa , truyền vào input ẩn modal
    $('.btn-delete').click(function () {
        $('#exampleModal').modal('show');
        $('#note-id-tmp').val($(this).closest('tr').data('note-id'));
        var id =  $('#note-id-tmp').val();
        $('#note-content-tmp').val($(this).closest('tr').find('.input-edit').val());
        $('#note-date-added-tmp').val($(this).data('note-date-added'));
        $('#note-status-tmp').val($('#checkbox'+id).val());
    });

    // Confirm Xóa element này
    $('#button-agree').click(function () {
        var note_id =  $('#note-id-tmp').val();
        $('[data-note-id=' + note_id + ']').remove();

        $('#exampleModal').modal('hide');

        $.ajax({
            url : 'http://localhost/divine-project/index.php?route=api/note/delete',
            data : {
                id : note_id
            },
            method : "POST"
        })
    });


    //Undo sau khi xoa
    $("#button-undo").click(function () {
        var content = $('#note-content-tmp').val();
        var date_added =  $('#note-date-added-tmp').val();
        var status = $('#note-status-tmp').val();
        console.log(status);
        $.ajax({
            url : 'index.php?route=api/note/undo',
            data : {
                content : content,
                date_added: date_added,
                status: status
            },
            method : "POST"
        }).done(function(result) {
            if (result.success) {
                console.log(result)
                $('#list').load('http://localhost/divine-project/index.php?route=api/note/list_note');
                // alert(result.message);
            } else {
                // alert(result.message);
            }
        });
        $('#snackbar').hide();
    });

    // Thêm note
    $('.add-note').click(function () {
        var content = $('.add-note input').val();
        $.ajax({
            url : 'index.php?route=api/note/add',
            data : {
                content : content
            },
            method : "POST"
        }).done(function(result) {
            if (result.success) {
                $('#list').load('http://localhost/divine-project/index.php?route=api/note/list_note');
                // alert(result.message);
            } else {
                // alert(result.message);
            }
        });
    });


    // Sửa note
    //Hiện input sửa
    $('.content').click(function () {
        var span_id = $(this).closest('tr').data('note-id');
        $('#input-edit'+span_id).show();
        $('#input-edit'+span_id).focus();
        // $("#note-content" +span_id).hide();
    });

    //sửa content khi click ra ngoài input sửa
    $('.input-edit').blur(function () {
        var span_id = $(this).closest('tr').data('note-id');
        var content = $(this).val();
        // $('#id-span-edit'+span_id).hide();
        // $('#input-edit'+span_id).hide();
        // $('#note-content'+span_id).show();
        $.ajax({
            url : 'http://localhost/divine-project/index.php?route=api/note/edit',
            data : {
                id : span_id,
                content : content
            },
            method : "POST"
        }).done(function(result) {
            if (result.success) {
                $('#note-content'+span_id).html(result.content);
            } else {
                // alert(result.message);
            }
        });
    });

    //Hiện toast quay lại hành động trước
    function toastFunction() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 10000);
    }

    //Chức năng search

</script>
