
<tr>
    <td colspan="2">
        <div class="add-note">
            <input id="myInputNote" type="text" placeholder="Viết ghi chú..." class="form-control" style="border: none">
        </div>
    </td>
    <td>
        <i id="myBtn" class="fa fa-2x fa-plus-circle add-note" style="color: green; cursor: pointer;"  title="Thêm ghi chú"></i>
    </td>
</tr>
{% for  note in notes %}
    <tr {%  if note.status_raw == 1 %} class="done"  {% endif %} data-note-id="{{note.id}}" id = "tr{{note.id}}">
        {#                <tr data-note-id="{{note.id}}" id = "tr{{note.id}}">#}
        <td class="content">
            {#                        <span id="note-content{{ note.id }}" class="note-content">{{note.content}}</span>#}
            <input type="text" value="{{note.content}}" class="form-control input-edit" id="input-edit{{ note.id }}" style="border: none">
        </td>
        <td class="checkbox">
            <input type="checkbox" id="checkbox{{note.id}}" data-id-status="{{note.id}}" class="checkbox" title="Hoàn thành?"  value="{{note.status_raw  }}"{% if note.status_raw == 1%} checked  {% endif %} >
            <label for="checkbox{{note.id}}" ></label>
        </td>
        <td>
            <i class="fa fa-2x fa-minus-circle btn-delete" style="color: red; cursor: pointer;" data-toggle="modal" data-target="#exampleModal"
               data-note-id="{{ note.id }}"  data-note-content ="{{note.content}}" data-note-date-added ="{{note.date_added}}" data-note-date-modified ="{{note.date_modified}}"  title="Xóa ghi chú"></i>
        </td>
    </tr>
{% endfor %}


<!-- Modal1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" id="button-agree" class="btn btn-primary" data-toggle="modal" data-target="#modalUndo">Có</button>
                <input type="hidden" id="note-id-tmp">
            </div>
        </div>
    </div>
</div>
<div id="snackbar">
    <i class="fa fa-backward" id="button-undo" aria-hidden="true" style="color: red ; cursor: pointer;"></i>
    <span style="color: white " >  Quay lại hành động trước</span>
    <input type="hidden" id="note-content-tmp">
    <input type="hidden" id="note-date-added-tmp">
    <input type="hidden" id="note-status-tmp">
</div>

<script>
    // Thay đổi trạng thái note
    $('.checkbox').change(function () {
        var id = $(this).data('id-status');
        $.ajax({
            url : 'http://localhost/divine-project/index.php?route=api/note/complete',
            data : {
                id : id
            },
            method : "POST"
        }).done(function(result) {
            $('#checkbox'+id).val(result.status_raw);
            if ($('#checkbox'+id).val() == 1) {
                $('#tr'+id).addClass('done');
            }
            else {
                $('#tr'+id).removeClass('done');
            }
        });
    });


    // Dùng phím enter để thêm note
    // var input = document.getElementById("myInputNote");
    // input.addEventListener("keyup", function(event) {
    //     if (event.keyCode === 13) {
    //         event.preventDefault();
    //         document.getElementById("myBtn").click();
    //     }
    // });

    $("#myInputNote").keydown(function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $("#myBtn").click();
        }
    });

    //Xóa note
    // Get Id của element cần xóa, truyền vào input ẩn modal
    $('.btn-delete').click(function () {
        $('#exampleModal').modal('show');
        $('#note-id-tmp').val($(this).closest('tr').data('note-id'));
        var id =  $('#note-id-tmp').val();
        $('#note-content-tmp').val($(this).closest('tr').find('.input-edit').val());
        $('#note-date-added-tmp').val($(this).data('note-date-added'));
        $('#note-status-tmp').val($('#checkbox'+id).val());
    });
    // Confirm Xóa element này
    $('#button-agree').click(function () {
        var note_id =  $('#note-id-tmp').val();

        $('[data-note-id=' + note_id + ']').remove();

        $('#exampleModal').modal('hide');

        $.ajax({
            url : 'http://localhost/divine-project/index.php?route=api/note/delete',
            data : {
                id : note_id
            },
            method : "POST"
        });
            $('#snackbar').show();
    });

    //Thêm note
    $('.add-note').click(function () {
        var content = $('.add-note input').val();
        $.ajax({
            url : 'index.php?route=api/note/add',
            data : {
                content : content
            },
            method : "POST"
        }).done(function(result) {
            if (result.success) {
                $('#list').load('http://localhost/divine-project/index.php?route=api/note/list_note');
                // alert(result.message);
            } else {
                // alert(result.message);
            }
        });
    });

    //Sửa note
    $('.note-content').click(function () {
        var span_id = $(this).closest('tr').data('note-id');
        // $('#id-span-edit'+span_id).show();
        $('#input-edit'+span_id).show();
        $('#input-edit'+span_id).focus();
        $(this).hide();
    });
    //sửa content khi click ra ngoài input sửa
    $('.input-edit').blur(function () {
        var span_id = $(this).closest('tr').data('note-id');
        var content = $(this).val();
        // $('#id-span-edit'+span_id).hide();
        // $('#input-edit'+span_id).hide();
        // $('#note-content'+span_id).show();
        $.ajax({
            url : 'http://localhost/divine-project/index.php?route=api/note/edit',
            data : {
                id : span_id,
                content : content
            },
            method : "POST"
        }).done(function(result) {
            if (result.success) {
                $('#note-content'+span_id).html(result.content);
            } else {
                // alert(result.message);
            }
        });
    });

</script>

{#{% for note in notes %}#}
{#    <li>#}
{#        <span>#}
{#            <input type="checkbox" onchange="setStatus({{note.id}})" value="1"{% if note.status_raw == 1%} checked{% endif %}>#}
{#            <span onclick="showEdit({{note.id}})" id="note{{ note.id }}">#}
{#                {{note.content}}#}
{#            </span>#}
{#            <span style="display: none;" id="input{{note.id}}">#}
{#                <input onblur="showOutEdit({{note.id}}),toEdit({{ note.id }})"  type="text" value="{{note.content}}" >#}
{#            </span>#}
{#        </span>#}
{#        -#}
{#        {{note.status}}#}
{#        -#}
{#        {{note.date_added}}#}
{#        -#}
{#        {{note.date_modified}}#}
{#        -#}
{#        <a href="#" onclick="toDelete( {{note.id}})">Xóa</a>#}

{#    </li>#}
{#{% endfor %}#}
{#    <div class="add-note">#}
{#        <input type="text" value="">#}
{#        <a  href="javascript:;" onclick="addNote();">Add</a>#}
{#    </div>#}

