<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Thứ tự</th>
        <th scope="col">Nội dung</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Thời gian sửa</th>
        <th scope="col">Tình trạng</th>
        <th scope="col">Hành động</th>
    </tr>
    </thead>
    <tbody>
    {% for note in notes %}
        <tr>
            <th scope="row">1</th>
            <td> <span onclick="showEdit({{note.id}})" id="note{{ note.id }}">{{note.content}}</span>  <span style="display: none;" id="input{{note.id}}">
                <input onblur="showOutEdit({{note.id}}),toEdit({{ note.id }})"  type="text" value="{{note.content}}" >
            </span></td>
            <td> {{note.date_added}}</td>
            <td>{{note.date_modified}}</td>
            <td> <input type="checkbox" onchange="setStatus({{note.id}})" value="1"{% if note.status_raw == 1%} checked{% endif %}></td>
            <td> <a href="#" onclick="toDelete( {{note.id}})">Xóa</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>